extends layout
block content
h1= title
let zoos=[{University_Name:"Northwest Missouri State University",University_Location:"Maryville",Number_of_Courses_Offered:"265"},{University_Name:"Wright State University",University_Location:"Ohio",Number_of_Courses_Offered:"315"},{University_Name:"Uniniversit of central missouri",University_Location:"Warrensburg",Number_of_Courses_Offered:"250"}]
